# database credentials

DB_HOST=db
DB_NAME=
DB_USER=
DB_PASS=
DB_ROOT_PASS=

# App environment

APP_ENV=local
APP_URL=http://localhost:8080


# Mail (fill in later when building contact form)

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_FROM_NAME=